body {
  font-family: sans-serif;
  margin: auto;
  max-width: 40rem;
}

.p1 {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.image {
  display: flex;
  margin: auto;
}
