* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: auto;
  padding: 2rem;
  max-width: 40rem;
  background-color: #f5f5f5;
}

h1 {
  font-size: 1.5rem;
}

.p1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.p2 {
  font-size: 0.75rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.img {
  display: flex;
  margin: auto;
  transform: scale(0.5);
  transition: 0.5s;
}

.img_wrapper {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

ul {
  list-style: none;
  color: blue;
  font-weight: bold;
}

li {
  border-top: 0.1rem solid lightgray;
}

.radio {
  display: none;
}

.radio:checked ~ .p1 {
  color: black;
}

.radio:checked ~ .p1 .icon {
  transform: rotate(45deg);
  transition: 0.5s;
}

.radio:checked ~ .img_wrapper .img {
  opacity: 1;
  transform: scale(1);
}

.radio:checked ~ .img_wrapper {
  height: 21rem;
}

@media (min-width: 500px) {
  h1 {
    font-size: 1.75rem;
  }

  .p2 {
    font-size: 1rem;
  }

  .radio:checked ~ .img_wrapper {
    height: 21rem;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  .p2 {
    font-size: 1.25rem;
  }

  .radio:checked ~ .img_wrapper {
    height: 21rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.25rem;
  }

  label:hover {
    cursor: pointer;
  }

  ul:hover {
    color: black;
  }

  ul:hover .icon {
    opacity: 1;
  }

  .icon {
    opacity: 0;
  }

  .p2 {
    font-size: 1.5rem;
  }

  body {
    overflow-y: scroll;
  }

  .radio:hover ~ .p1 .icon {
    transform: rotate(45deg);
    transition: 0.5s;
  }

  .radio:hover ~ .img_wrapper {
    height: 20rem;
  }

  .radio:hover ~ .img_wrapper .img {
    transform: scale(1);
  }

  .radio:checked ~ .img_wrapper {
    height: 21rem;
  }
}
